body{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}


.line-stage{
  display: flex;
  justify-content: center;
}

.square{
  width: 150px;
  height: 150px;
  background-color: beige;
  border: 1px solid gray;
}

