body{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}


.line-stage{
  display: flex;
  justify-content: center;
}

.square{
  width: 150px;
  height: 150px;
  background-color: beige;
  border: 1px solid gray;
}

.square:hover{
  cursor: pointer;
}

.o:after{
  content: '\2B55';
  line-height: 150px;
  font-size: 70px;
}

.x:after{
  content: '\274E';
  line-height: 150px;
  font-size: 70px;
}

